@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,200;0,300;0,400;0,500;0,600,1,300;1,400;1,500&display=swap');
:root{
    --orange:#ff7a00;
}

*{
    margin: 0;
    padding: 0;
    transition: all .2s linear;
    text-transform: capitalize;
    font-family: 'Exo 2', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

.heading{
    font-size: 4rem;
    text-align: center;
    letter-spacing: 1rem;
    color: #444;
    margin: 2rem 0;
    padding-top: 6rem;
    text-decoration: underline;
    text-decoration-style:solid;
    text-decoration-color: var(--orange);
    text-underline-offset: -1.4rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 1rem 2rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
}

.header .logo{
    height: 2rem;
    text-decoration: none;
    display: inline-block;
}

.header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.header nav ul li{
    margin: 0 1.5rem;
}

.header nav ul li a{
    color: var(--orange);
    font-size: 1rem;
    text-decoration: none;
}

.header nav ul li a:hover{
    color:#444;
    font-size: 2rem;
}

.header .fa-bars{
    font-size: 2.rem;
    color: #666;
    cursor: pointer;
    display: none;
}

.home .hero{
    display: flex;
    min-height: 60vh;
    background: url(./images/home-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.home .hero .text1{
    font-size: 5rem;
    width: 45rem;
    background: #fff;
    padding: 1rem 2rem;
    text-align: center;
    opacity: .8;
}

.home .hero .text2{
    font-size: 3rem;
    width: 35rem;
    background: var(--orange);
    padding: 1rem 2rem;
    text-align: center;
    opacity: .8;
    margin: top 1rem;
    color: #fff;
}

.home .counting{
    min-height: 40vh;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .counting .box{
    margin: 2rem 4rem;
    text-align: center;
}

.home .counting .box .count{
    font-size: 7rem;
    color: #444;
}

.home .counting .box h3{
    font-size: 2rem;
    color: var(--orange);
}

.about{
    min-height: 100vh;
    padding-bottom: 3rem;
}

.about .image{
    padding: 2rem;
}

.about .image img{
    height: 45rem;
    object-fit: cover;
    box-shadow: 2.5rem 2.5rem 0 1rem var(--orange);
}

.about .info{
    padding: 2rem;
    margin-top: 3rem;
}

.about .info h2{
    color: var(--orange);
    font-size: 3rem;
}

.about .info p{
    font-size: 1.2rem;
    color: #444;
    margin: 2rem 0;
}

.about .info .icons a{
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    text-align: center;
    background: #444;
    color: #fff;
    border-radius: .5rem;
    margin-right: 1rem;
    text-decoration: none;
}

.about .info .icons a:hover{
    background: var(--orange);
}

.service{
    min-height: 100vh;
}

.service .box-container{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service .box-container .box{
    height: 25rem;
    width: 25rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
    border-left: .5rem solid var(--orange);
    border-right: .5rem solid var(--orange);
    border-radius: .5rem;
    text-align: center;
    padding-top: 6rem;
    margin: 2rem 3rem;
}

.service .box-container .box .fa{
  color: var(--orange);
  font-size: 5rem;
}

.service .box-container .box p{
    color: #333;
    font-size: 1.1rem;
    margin: 2rem 0;
}


.fa-times{
    transform: rotate(180deg);
}



/* media query */
@media screen and (max-width: 550px) {
    html{
        font-size: 70%
    }

    .header .fa-bars{
        display: block;
    }

    .header nav{
        position: fixed;
        top: 6rem;
        right: -120%;
        height: calc(100vh - 6rem);
        width: 100vw;
        background: rgba(0, 0, 0, .5);
        z-index: 1000;
        border-top: .1rem solid rgba(0, 0, 0, .3);
    }

    .header nav ul{
        height: 100%;
        width: 33rem;
        background: #fff;
        flex-flow: column;
        justify-content: center;
        float: right;
    }

    .header nav ul li{
        margin: 1rem 0;
    }

    .header nav ul li a{
        /* background: #666; */
        display: block;
        font-size: 1.7rem;
        padding: 1.7rem 0;
        border: .1rem solid rgba(0, 0, 0, .3);
        width: 25rem;
        border-radius: 5rem;
        text-align: center;
    }

    .header nav ul li a:hover{
        background: var(--orange);
        color: #fff;
        /* width: 100%; */
        /* padding: 1.7rem 3rem; */
    }

    .header .nav-toggle{
        right: 0%;
    }
}


@media screen and (max-width:400px) {
    .home .hero .text1{
        font-size: 3.5rem;
        width: 35rem;
    }

    .home .hero .text2{
        font-size: 2.5rem;
        width: 33rem;
    }
}

